.text6 {
  font-size: 12px;
}

.facilities,
.form-news{
  width: 325px;
}

.btn-products,
.btn-submit {
  background-color: #9353FF;
}

.icon,
.icon-info {
  color: #daff01;
}

@media(min-width: 768px) {
  .form-news {
      width: 696px;
  }
}
